<div class="container">
  <input [(ngModel)]="filterByMake" class="filter-input" placeholder="Filter by Make" (input)="applyFilters()">
  <input [(ngModel)]="searchText" class="filter-input" placeholder="Search" (input)="applyFilters()">

  <p-table [value]="filteredData" [paginator]="true" [rows]="itemsPerPage" [totalRecords]="filteredData.length" (onPage)="onPageChange($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Vehicle Make</th>
        <th>Vehicle Model</th>
        <th>Image</th>
        <!-- Ajoutez les autres en-têtes de colonne ici -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
      <tr>
        <td>{{ vehicle.vehicleMake }}</td>
        <td>{{ vehicle.vehicleModel }}</td>
        <td>
          <!-- Use Angular Router to navigate to the details page with vehicle ID as a parameter -->
          <a [routerLink]="['/Third']" [queryParams]="{ brand: vehicle.id }" (click)="updateSelectedVehicle(vehicle.id)">
            <img [src]="vehicle.images" alt="Image">
          </a>
        </td>
        <!-- Ajoutez les autres colonnes de données ici -->
      </tr>
    </ng-template>
  </p-table>
</div>
