nav {
    background-color: #8dbfda;
    border: 1px solid #2e45ad;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(38, 71, 179, 0.1);
    
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav li {
    margin-right: 15px;
    position: relative;
  }
  
  nav li:last-child {
    padding: 13px;
  }
  
  nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #007bff;
  }
  
  nav li::after {
    content: "            ";
    position: absolute;
    top: 50%;
    right: -5px;
    width: 1px;
    height: 60%;
    background-color: #e1e1e1;
    transform: translateY(-50%);
  }
  nav a:not(:last-child) {
    margin-right: 38px;
  }
  