<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  


<div class="container mt-4">
  <div class="card">
    <h1>User Registration</h1>
    <form (ngSubmit)="register()" #signupForm="ngForm">

      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" id="firstname"
          placeholder="Enter First Name" required>
        <div *ngIf="signupForm.controls['firstname'].errors?.['required'] && signupForm.submitted">
          First Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" id="lastname"
          placeholder="Enter Last Name" required>
        <div *ngIf="signupForm.controls['lastname'].errors?.['required'] && signupForm.submitted">
          Last Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Enter Email"
          required email>
        <div *ngIf="signupForm.controls['email'].errors?.['required'] && signupForm.submitted">
          Email is required.
        </div>
        <div *ngIf="signupForm.controls['email'].errors?.['email'] && signupForm.submitted">
          Invalid Email.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password"
          placeholder="Enter Password" required minlength="6">
        <div *ngIf="signupForm.controls['password'].errors?.['required'] && signupForm.submitted">
          Password is required.
        </div>
        <div *ngIf="signupForm.controls['password'].errors?.['minlength'] && signupForm.submitted">
          Password must be at least 6 characters long.
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-4">Save</button>
    </form>
  </div>
</div>
</body>
</html><!-- signup.component.html -->